<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div th:fragment="body-menu">
	<nav id="mainnav-container">
		<div id="mainnav">
			<!--Shortcut buttons-->
			<div id="mainnav-shortcut">
				<ul class="list-unstyled"></ul>
			</div>
			<!--End shortcut buttons-->
			<div id="mainnav-menu-wrap">
				<div class="nano has-scrollbar">
					<div class="nano-content" tabindex="0" style="right: -15px;">
						<ul id="mainnav-menu" class="list-group">
							<li ><a href="#"> <i
									class="fa fa-users"></i><span class="menu-title">数据库管理</span><i
									class="arrow"></i></a>
                                <ul class="isSubMenu" aria-expanded="true">
                                    <li><a href="/dbm/admin"><span class="menu-title">主界面</span></a></li>
                                </ul>
                            </li>
						</ul>
					</div>
					<div class="nano-pane" style="display: none;">
						<div class="nano-slider"
							style="height: 20px; transform: translate(0px, 0px);"></div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
</html>