body {
	min-width: 780px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/*.navbar-header{*/
/*width: 190px;*/
/*}*/
input {
	cursor:pointer !important;
}
select {
	cursor:default !important;
}
#container {
	overflow: auto;
}
/*@media (min-width:100px) and (max-width: 780px){*/

/*#content-container{*/
/*left: 190px;*/
/*top: -40px;*/
/*padding-top:0px;*/
/*}*/
/*.navbar-content{*/
/*left: 190px;*/
/*top: -40px;*/
/*}*/
/*#page-content{*/
/*top: -40px;*/
/*}*/

/*}*/
#mainnav-container {
	left: 0px;
}

#content-container {
	padding-left: 190px
}

#navbar {
	position: static;
}

.panel {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
	border-radius: 0;
	border: 0;
	margin-bottom: 15px;
	overflow: auto;
}

.lable_title {
	font-size: 1em;
	font-weight: normal;
	color: #999;
	width: 100%;
	text-align: justify;
}

.lable_content {
	font-size: 1em;
	font-weight: normal;
	color: #666;
}

.lable_form_title {
	font-size: 1.1em;
	font-weight: normal;
	color: #999;
	text-align: justify;
}

.a_common {
	color: #4ca5e1;
	text-decoration: underline;
	margin: 0.2em;
}

.a_common:hover {
	color: #D20000;
	text-decoration: underline;
	cursor:pointer;
}

.long_text {
	width: 16em;
	word-wrap: break-word;
	word-break: break-all;
	/*overflow:  hidden;*/
	/*white-space: nowrap;*/
	/*-o-text-overflow: ellipsis;*/
	/*text-overflow:  ellipsis;*/
}

.user_info_panel {
	height: 25em;
}

.panel-control—a {
	color: #579ddb;
	font-size: 1.1em;
}

.form_search_height {
	height: 2.5em;
}

.select-style {
	padding: 0;
	margin: 0;
	border: 1px solid #e9e9e9;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	background: #fff url("../img/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: #fff;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-style select:focus {
	outline: none;
}

.require_field {
	width: 2em;
	font-weight: bolder;
	color: red;
}

.control-form-label {
	margin-bottom: 5px;
	padding-top: 7px
}

.lable_form_title_five {
	/* width: 5em; */
	font-size: 1.1em;
	font-weight: normal;
	color: #999;
	text-align: justify;
}

.col_left {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

hr {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
}

.col_controller {
	width: 11em;
	text-align: center;
}

input[type=checkbox], input[type=radio] {
	margin: 4px 4px 0px 4px;
	line-height: normal;
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f10f0b !important;
}

.form_left {
	padding-left: 15px;
}

#container .table th {
	font-size: 1.05em;
	font-weight: 600;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.rule_show_form {
	padding-left: 0px;
	padding-right: 7.5px
}

.table_control_width {
	width: 10em;
}

.manual {
	margin: 2rem;
}

.manual .require_field {
	width: 1em;
	font-weight: bolder;
	color: red;
}

.manual .lable_form_title {
	width: auto;
	font-size: 1.1em;
	font-weight: normal;
	color: #666;
	text-align: justify;
}

.manual input {
	width: 40rem;
	display: inline;
}

.manual .form-group {
	margin-bottom: 3rem;
}

.manual textarea {
	width: 40rem;
	display: inline;
	height: 10rem;
	padding: 0.5rem;
	border: 1px solid #e9e9e9;
}

/*礼品兑换记录*/
.col-sm-3 {
	margin-right: 20px;
}

.p1 {
	position: relative;
	left: -10px;
	top: 6px;
	float: left;
}

.btn1 {
	margin-left: 35px;
	height: 3rem;
	width: 5rem;
}

.btn2 {
	margin-left: -1px;
}

.table-responsive th {
	font-weight: 400 !important;
	color: #999;
	text-align: center !important;
}

.table>tbody>tr>td {
	text-align: center !important;
	vertical-align: middle !important;
}
.table>thead>tr>th {
	text-align:center;
}

#rightBtn {
	position: absolute;
	right: 24px;
	top: 10px;
}

.step-title {
	display: inline-block;
	color: #666;
	font-weight: 400;
	padding: 0 0 10px 0px;
	margin-top: -20px;
	font-size: 1.3em;
	line-height: 50px;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	font-family: 微软雅黑;
}

.stepWord {
	padding-bottom: 20px;
	color: #999;
}

.stepWord input {
	width: 65%;
	padding-left: 10px;
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #e9e9e9;
	transition-duration: 1s;
	display:inline-block;
}

.return-a {
	border: 1px solid #e9e9e9;
}

.return-save {
	margin-left: 111px;
}

.return-save a {
	margin-left: 1.7em;
	width: 7%;
}

.stepWord select {
	width: 65%;
	border: 1px solid #e9e9e9;
}

.giftBound {
	width: 100%;
	border: 1px solid #e9e9e9;
}

.giftStep {
	height: 3.5rem;
	background-color: #F1F1F1;
	border-radius: 25px;
	text-align: center;
	line-height: 3.5rem;
	margin-top: 1px;
	font-size: 14px;
	font-family: 微软雅黑;
}

.giftStepImg {
	margin-top: 15px;
	padding: 0 !important;
}


.nav-headerText{
	border:0 !important;
	margin-left:-12px;
	color:#5f5f5f;
}

.searchCondition {
	font-size: 1.2em;
    position: relative;
    top: 5px;
    font-weight:400;
    color: #635959;
    font-family: 微软雅黑;
}
.searchResult{
    font-size: 1.2em;
    color: #635959;
    position: relative;
    top: 10px;
    margin-top: 12px;
    display: block;
    font-family: 微软雅黑;
}
/* query查询样式 */
#searchform .col-sm-3{
	margin-right:0;
}
.query-search{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.query-search>button{
	margin-left: 20px;
	border-radius: 4px;
	padding: 5px 21px;
}
.query-search>button:nth-child(1){
	background: #108EE9;
	color: #fff;
	border: 1px solid #108EE9;
}
.query-search>button:nth-child(2){
	background: #fff;
	border: 1px solid #E4E4E4;
	color: rgba(0,0,0,0.65);
}
.whiteTitle {
	color:#fff;
}
#search .table th{
	height:50px;
	line-height: 50px;
	padding: 0;
}
#search input,#search .bootstrap-select button{
	border-radius: 3px;
}
.query-pageNo{
	height: 76px;
	margin-right: -9px;
}
.query-pageNo nav{
	 float: right;
 }
.query-pageNo>div:nth-child(2){
	float: right;
}
.query-pageNo>div:nth-child(2){
	line-height: 72px;
	margin-right: 30px;
}
/* 登陆欢迎页面优化 */
.login-welcome {
	text-align:center;
	margin-top:200px;
}
.login-welcome span{
	display:inline-block;
	color: #4ebcda;
    font-size: 17px;
    font-family:"微软雅黑";
}
.login-welcome h2 {
	font-family:"微软雅黑";
	font-weight:400;
}
