<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">选择条件</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 stepWord">
                        <span>请选择要操作的表</span>
                        <select id="tableName" class="selectpicker color-gray form_search_height"
                                data-live-search="true">
                            <option th:value="--">请选择</option>
                        </select>
                    </div>

                    <div class="col-sm-4 stepWord">
                        <span>选择操作类型</span>
                        <select id="sqlType" class="form_search_height color-gray">
                            <option th:value="SELECT">查询</option>
                            <option th:value="UPDATE">更新</option>
                            <option th:value="INSERT">插入</option>
                            <!--<option th:value="DELETE">删除</option>-->
                        </select>
                    </div>

                    <button class="btn btn-primary form_search_height btn2"
                            type="button" onclick="confirm_type()">确定
                    </button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">操作字段</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12" style="text-align: center;position: relative;">
                    <!-- update模块 -->
                    <div class="update-div">
                        <div class="update-left col-md-4 col-sm-5 col-lg-4">
                            <div class="sql-h1">set字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">设置值</div>
                            </div>
                            <div class="sql-row-set">

                            </div>
                        </div>
                        <div class="update-right col-md-4 col-sm-5 col-lg-4 col-md-offset-2">
                            <div class="sql-h1">where字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">查询值</div>
                            </div>
                            <div class="sql-row-where">

                            </div>
                        </div>
                    </div>

                    <!-- select模块 -->
                    <div class="select-div">

                    </div>

                    <!-- insert模块 -->
                    <div class="insert-div">

                    </div>

                    <!-- delete模块 -->
                    <div class="delete-div">

                    </div>

                    <!-- 预执行按钮 -->
                    <div class="preview-div">
                        <button id="preview_btn" class="btn btn-primary form_search_height btn2"
                                type="button" onclick="preview_btn(this)">预览
                        </button>
                    </div>
                    <!-- 执行 -->
                    <span class="execute-div">
                        <button id="execute_btn" class="btn btn-primary form_search_height btn2"
                                type="button" onclick="execute_dialog()">执行
                        </button>
                    </span>

                </div>
            </div>

            <div class="pre-result">
                <div class="panel-heading">
                    <h3 class="panel-title searchCondition">预览结果</h3>
                </div>
                <div class="execute-result">
                    <label>SQL预览：</label>
                    <span id="sql"></span>
                    <label>参数预览：</label>
                    <span id="sql-para"></span>
                    <label>影响数据：</label>
                    <span>共涉及到&nbsp;<span id="sql-count"></span>&nbsp;条</span>


                    <!-- 执行按钮 -->
                    <!--<span class="execute-div">-->
                        <!--<button class="btn btn-primary form_search_height btn2"-->
                                <!--type="button" onclick="execute_btn(this)">执行-->
                        <!--</button>-->
                    <!--</span>-->
                </div>
            </div>

            <div class="result">
                <div class="panel-heading">
                    <h3 class="panel-title searchCondition">执行结果</h3>
                </div>
                <div class="execute-result">
                    <label>执行状态：</label>
                    <span id="sql-status"></span>
                </div>
            </div>

            <div class="row">
                <div class="modal fade" id="exe_dialog" tabindex="-1" role="dialog"
                     aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog" style="width: 300px;">
                        <div class="modal-content" style="text-align: center;">
                            <div class="modal-body">
                                <h4>一共影响<span id="tips"></span>条</h4>
                                <h4> 是否确认执行？</h4>
                            </div>
                            <div class="modal-footer" style="text-align: center;">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">返回
                                </button>
                                <button type="button" class="btn btn-primary"
                                        onclick="execute_btn()">确认
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 提示弹框 -->
    <div class="modal fade" id="messageShow" tabindex="-1" role="dialog"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" style="width: 300px;">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-body">
                    <h4 class="upMessage"></h4>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" data-dismiss="modal" id="closeModalBtn"
                            class="btn btn-primary btn-default">确认</button>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" th:href="@{/css/dbManager.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/i18n/zh-CN.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            //请求所有的表
            $.ajax({
                type: "POST",
                url: '/dbm/all-tables',
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var tableList = data.dataMap;
                        for (var i = 0; i < tableList.length; i++) {
                            var tableName = tableList[i];
                            var html = $('<option value="' + tableName + '">' + tableName + '</option>');
                            $('#tableName').append(html);
                        }
                        $('#tableName').selectpicker('refresh');
                        $('#tableName').selectpicker('show');
                    } else {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });
        });

        //确定按钮
        function confirm_type() {
            var tableName = $("#tableName option:selected").val();
            var sqlType = $("#sqlType option:selected").val();
            if (tableName == "--") {
                $('#messageShow').modal('show');
                $('.upMessage').text("请选择要操作的表！");
                return;
            }
            if (sqlType == "SELECT") {
                $('#messageShow').modal('show');
                $('.upMessage').text("暂不支持select的操作！");
                return;
            } else if (sqlType == "INSERT") {
                $('#messageShow').modal('show');
                $('.upMessage').text("暂不支持insert的操作！");
                return;
            } else if (sqlType == "DELETE") {
                $('#messageShow').modal('show');
                $('.upMessage').text("暂不支持delete的操作！");
                return;
            }
            $.ajax({
                type: "POST",
                url: '/dbm/confirm',
                data: {
                    tableName: tableName,
                    sqlType: sqlType
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var columnList = data.dataMap;
                        //封装表字段
                        if (sqlType == "UPDATE") {
                            $('.sql-row-set').html('');
                            $('.sql-row-where').html('');
                            var whereStr = getSqlRow(columnList,false);
                            var setStr = getSqlRow(columnList,true);
                            $('.sql-row-set').html(setStr);
                            $('.sql-row-where').html(whereStr);
                            $(".update-div").show();
                            $('.preview-div').show();
                            //隐藏其他的模块
                            $('.execute-div').hide();
                            $('.pre-result').hide();
                            $('.result').hide();
                            $("#execute_btn").removeAttr("disabled");
                        }

                    } else {
                        $('#messageShow').modal('show');
                        $('.upMessage').text(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });
        }

        function getSqlRow(columnList,isSet) {
            if(isSet){
                for (var i = 0; i < columnList.length; i++) {
                    if(columnList[i] == "id"){
                        columnList.splice(i,1);
                    }
                }
            }
            var str = "";
            for (var i = 0; i < columnList.length; i++) {
                var columnName = columnList[i];
                str += `<div class="row">
                        <div class="col-sm-6 control-label"><label> ${columnName} </label></div>
                        <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="请输入"/>
                        </div>
                        </div>`;
            }
            return str;
        }

        //预览
        function preview_btn() {
            var tableName = $("#tableName option:selected").val();
            var sqlType = $("#sqlType option:selected").val();
            var setMap = new Map();
            $('.sql-row-set .row').each(function () {
                var setKey = $(this).find('label').text().trim(),
                    setValue = $(this).find('input').val();
                if (setValue !== '') {
                    setMap.set(setKey, setValue);
                }
            })
            var whereMap = new Map();
            $('.sql-row-where .row').each(function () {
                var whereKey = $(this).find('label').text().trim(),
                    whereValue = $(this).find('input').val();
                if (whereValue !== '') {
                    whereMap.set(whereKey, whereValue);
                }
            })
            $.ajax({
                type: "POST",
                url: '/dbm/sql-pre',
                data: {
                    tableName: tableName,
                    sqlType: sqlType,
                    setJson: mapTOJson(setMap),
                    whereJson: mapTOJson(whereMap)
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var sql = data.dataMap.sql;
                        var sqlParam = data.dataMap.sqlParam;
                        var count = data.dataMap.count;
                        $('#sql').html(sql);
                        $('#sql-para').html(sqlParam);
                        $('#sql-count').html(count);
                        $('.pre-result').show();
                        $('.execute-div').show();
                    } else {
                        $('#messageShow').modal('show');
                        $('.upMessage').text(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    $('#messageShow').modal('show');
                    $('.upMessage').text("请求错误！");
                }
            });
        }
        
        function execute_dialog() {
            $('#tips').html($('#sql-count').text());
            $('#exe_dialog').modal('show');
        }

        //执行按钮
        function execute_btn() {
            $('#exe_dialog').modal('hide');
            var tableName = $("#tableName option:selected").val();
            var sqlType = $("#sqlType option:selected").val();
            var setMap = new Map();
            $('.sql-row-set .row').each(function () {
                var setKey = $(this).find('label').text().trim(),
                    setValue = $(this).find('input').val();
                if (setValue !== '') {
                    setMap.set(setKey, setValue);
                }
            })
            var whereMap = new Map();
            $('.sql-row-where .row').each(function () {
                var whereKey = $(this).find('label').text().trim(),
                    whereValue = $(this).find('input').val();
                if (whereValue !== '') {
                    whereMap.set(whereKey, whereValue);
                }
            })
            $.ajax({
                type: "POST",
                url: '/dbm/execute-sql',
                data: {
                    tableName: tableName,
                    sqlType: sqlType,
                    setJson: mapTOJson(setMap),
                    whereJson: mapTOJson(whereMap)
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var sql = data.dataMap.sql;
                        var result = data.dataMap;
                        $('#sql-status').html(result);
                        $('.result').show();
                        $("#execute_btn").attr("disabled", "disabled");
                    } else {
                        $('#messageShow').modal('show');
                        $('.upMessage').text(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    $('#messageShow').modal('show');
                    $('.upMessage').text("请求错误！");
                }
            });

        }

        function mapTOJson(m) {
            var str = '{';
            var i = 1;
            m.forEach(function (item, key, mapObj) {
                if (mapObj.size == i) {
                    str += '"' + key + '":"' + item + '"';
                } else {
                    str += '"' + key + '":"' + item + '",';
                }
                i++;
            });
            str += '}';
            return str;
        }

        /*]]>*/
    </script>
</section>
</body>
</html>