<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">选择条件</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 stepWord">
                        <span>请选择要操作的表</span>
                        <select id="tableName" class="selectpicker color-gray form_search_height"
                                data-live-search="true">
                            <option th:value="--">请选择</option>
                        </select>
                    </div>

                    <div class="col-sm-4 stepWord">
                        <span>选择操作类型</span>
                        <select id="sqlType" class="form_search_height color-gray">
                            <option th:value="SELECT">查询</option>
                            <option th:value="UPDATE">更新</option>
                            <option th:value="INSERT">插入</option>
                            <option th:value="DELETE">删除</option>
                        </select>
                    </div>

                    <button class="btn btn-primary form_search_height btn2"
                            type="button" onclick="confirm_type()">确定
                    </button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">操作字段</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12" style="text-align: center;position: relative;">
                    <!-- update模块 -->
                    <div class="update-div">
                        <div class="update-left col-md-4 col-sm-5 col-lg-4">
                            <div class="sql-h1">set字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">查询值</div>
                            </div>
                            <div class="sql-row-set">

                            </div>
                        </div>
                        <div class="update-right col-md-4 col-sm-5 col-lg-4 col-md-offset-2">
                            <div class="sql-h1">where字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">查询值</div>
                            </div>
                            <div class="sql-row-where">

                            </div>
                        </div>
                    </div>

                    <!-- 执行按钮 -->
                    <div class="execute-div">
                        <button class="btn btn-primary form_search_height btn2"
                                type="button" onclick="execute_btn()">执行
                        </button>
                    </div>

                </div>
            </div>
            <div class="result">
                <div class="panel-heading">
                    <h3 class="panel-title searchCondition">执行结果</h3>
                </div>
                <div class="execute-result">
                    <div>执行状态：</div><span id="sql-status"></span>
                    <div>执行的sql：</div><span id="sql"></span>
                    <div>执行的参数：</div><span id="sql-para"></span>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/css/dbManager.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/i18n/zh-CN.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            //请求所有的表
            $.ajax({
                type: "POST",
                url: "/table/all-tables",
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var tableList = data.dataMap;
                        for (var i = 0; i < tableList.length; i++) {
                            var tableName = tableList[i];
                            var html = $('<option value="' + tableName + '">' + tableName + '</option>');
                            $('#tableName').append(html);
                        }
                        $('#tableName').selectpicker('refresh');
                        $('#tableName').selectpicker('show');
                    } else {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });
        });

        //确定按钮
        function confirm_type() {
            var tableName = $("#tableName option:selected").val();
            var sqlType = $("#sqlType option:selected").val();
            if (tableName == "--") {
                alert("请选择要操作的表！");
                return;
            }
            if (sqlType == "SELECT") {
                alert("暂不支持select的操作！");
                return;
            } else if (sqlType == "INSERT") {
                alert("暂不支持insert的操作！");
                return;
            } else if (sqlType == "DELETE") {
                alert("暂不支持delete的操作！");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/dbm/confirm",
                data: {
                    tableName: tableName,
                    sqlType: sqlType
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var columnList = data.dataMap;
                        //封装表字段
                        if (sqlType == "UPDATE") {
                            $('.sql-row-set').html('');
                            $('.sql-row-where').html('');
                            var str = getSqlRow(columnList);
                            $('.sql-row-set').html(str);
                            $('.sql-row-where').html(str);
                            $(".update-div").show();
                            $('.execute-div').show();
                        }

                    } else {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });

            function getSqlRow(columnList) {
                var str = "";
                for (var i = 0; i < columnList.length; i++) {
                    var columnName = columnList[i];
                    str += `<div class="row">
                        <div class="col-sm-6 control-label"><label> ${columnName} </label></div>
                        <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="请输入"/>
                        </div>
                        </div>`;
                }
                return str;
            }

            //执行按钮
            function execute_btn() {
                $()



            }
        }

        /*]]>*/
    </script>
</section>
</body>
</html>