<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/body">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">选择条件</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 stepWord">
                        <span>请选择要操作的表</span>
                        <select id="tableName" class="selectpicker color-gray form_search_height"
                                data-live-search="true">
                            <option th:value="--">请选择</option>
                        </select>
                    </div>

                    <div class="col-sm-4 stepWord">
                        <span>选择操作类型</span>
                        <select id="sqlType" class="form_search_height color-gray">
                            <option th:value="SELECT">查询</option>
                            <option th:value="UPDATE">更新</option>
                            <option th:value="INSERT">插入</option>
                            <option th:value="DELETE">删除</option>
                        </select>
                    </div>

                    <button class="btn btn-primary form_search_height btn2"
                            type="button" onclick="confirm_type()">确定
                    </button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title searchCondition">操作字段</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12" style="text-align: center;">
                    <!-- update模块 -->
                    <div class="update-div">
                        <div class="update-left col-md-4 col-sm-5 col-lg-4">
                            <div class="sql-h1">set字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">查询值</div>
                            </div>
                            <div class="sql-row-set">
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6 control-label"><label>id</label></div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6 control-label"><label>sql</label></div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6 control-label"><label>execute_time</label></div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6 control-label"><label>connect_id</label></div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="update-right col-md-4 col-sm-5 col-lg-4 col-md-offset-2">
                            <div class="sql-h1">where字段</div>
                            <div class="sql-title">
                                <div class="sql-h2">字段名称</div>
                                <div class="sql-h2">查询值</div>
                            </div>
                            <div class="sql-row-where">
                                <!--<div class="row">-->
                                <!--<div class="col-sm-6 control-label"><label>字段1</label></div>-->
                                <!--<div class="col-sm-6">-->
                                <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                <!--<div class="col-sm-6 control-label"><label>字段2</label></div>-->
                                <!--<div class="col-sm-6">-->
                                <!--<input type="text" class="form-control" placeholder="请输入"/>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>


                    <!--<div id="update-div" style="width:100%;text-align:center">-->
                    <!--<div id="left-div" style="width:45%;float:left;">-->
                    <!--<div>-->
                    <!--<span><h4 style="color: red;">set字段</h4></span>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-sm-3 control-label"><label>字段1</label></div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" placeholder="请输入" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-sm-3 control-label"><label>字段2</label></div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" placeholder="请输入" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div id="right-div" style="width:45%;float:right;">-->

                    <!--<div>-->
                    <!--<span><h4 style="color: red;">where字段</h4></span>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-sm-3 control-label"><label>字段1</label></div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" placeholder="请输入" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-sm-3 control-label"><label>字段2</label></div>-->
                    <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" placeholder="请输入" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div id="select-div" hidden="hidden">-->

                    <!--</div>-->

                    <!--<div id="insert-div" hidden="hidden">-->

                    <!--</div>-->

                    <!--<div id="delete-div" hidden="hidden">-->

                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/css/dbManager.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/i18n/zh-CN.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            //请求所有的表
            $.ajax({
                type: "POST",
                url: "/table/all-tables",
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var tableList = data.dataMap;
                        for (var i = 0; i < tableList.length; i++) {
                            var tableName = tableList[i];
                            var html = $('<option value="' + tableName + '">' + tableName + '</option>');
                            $('#tableName').append(html);
                        }
                        $('#tableName').selectpicker('refresh');
                        $('#tableName').selectpicker('show');
                    } else {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });
        });

        //确定按钮
        function confirm_type() {
            var tableName = $("#tableName option:selected").val();
            var sqlType = $("#sqlType option:selected").val();
            if (tableName == "--") {
                alert("请选择要操作的表！");
                return;
            }
            if (sqlType == "SELECT") {
                alert("暂不支持select的操作！");
                return;
            } else if (sqlType == "INSERT") {
                alert("暂不支持insert的操作！");
                return;
            } else if (sqlType == "DELETE") {
                alert("暂不支持delete的操作！");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/dbm/confirm",
                data: {
                    tableName: tableName,
                    sqlType: sqlType
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == "200") {
                        var columnList = data.dataMap;
                        //封装表字段
                        if (sqlType == "UPDATE") {
                            var str = getSqlRow(columnList);
                            var sqlRowSet = window.document.getElementsByClassName("sql-row-set");
                            var sqlRowWhere = window.document.getElementsByClassName("sql-row-where");
                            sqlRowSet.innerHTML = '';
                            sqlRowWhere.innerHTML = '';
                            sqlRowSet.innerHTML = str;
                            sqlRowWhere.innerHTML = str;
                            $(".update-div").show();
                        }

                    } else {
                        alert(data.message);
                    }
                },
                error: function (XMLHttpRequest,
                                 textStatus, errorThrown) {
                    alert("请求错误！");
                }
            });

            function getSqlRow(columnList) {
                var str = "";
                for (var i = 0; i < columnList.length; i++) {
                    var columnName = columnList[i];
                    str += "<div class=\"row\">\n" +
                        "<div class=\"col-sm-6 control-label\"><label>" + columnName + "</label></div>\n" +
                        "<div class=\"col-sm-6\">\n" +
                        "<input type=\"text\" class=\"form-control\" placeholder=\"请输入\"/>\n" +
                        "</div>\n" +
                        "</div>";
                }
                return str;
            }

        }

        /*]]>*/
    </script>
</section>
</body>
</html>